.toc-empty {margin: 0em 0em 0em 0em; text-indent: 0em; font-size: 100%; min-height: 0.938em}
.toc-item-1{margin: 0em 0em 0em 0em; text-indent: 0em; font-size: 100%; text-align: left; list-style-type: none;}
.toc-item-2{margin: 0em 0em 0em 0em; text-indent: 1em; font-size: 100%; text-align: left; list-style-type: none;}
.toc-item-3{margin: 0em 0em 0em 0em; text-indent: 2em; font-size: 100%; text-align: left; list-style-type: none;}
table {border-collapse: collapse}
td  {padding: 0em 0.3125em 0em 0.3125em}
.basic-par {
    margin-left: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-right: 0em;
    text-indent: 0em;
}
.basic-font {
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.center-par {
    margin-left: 0em;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-right: 0em;
    text-indent: 0em;
}
.chapter-heading {
    margin-left: 0em;
    margin-bottom: 2em;
    margin-top: 50px;
    margin-right: 0em;
    text-indent: 0em;
}
.title {
    font-weight: bold;
    font-size: 233%;
    margin-top: 50px;
    margin-bottom: 1em;
}
.subtitle {
    font-style: normal;
    font-size: 180%;
    margin-top: 0;
    margin-bottom: 2em;
}
.author {
    font-weight: normal;
    font-size: 120%;
    line-height: 200%;
    margin-top: 1em;
    margin-bottom: 2em;
}
.series {
    font-style: normal;
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 2em;
}
.center-par-t-space {
    margin-left: 0em;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0.75em;
    margin-right: 0em;
    text-indent: 0em;
}
.center-par-tb-space {
    margin-left: 0em;
    text-align: center;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    margin-right: 0em;
    text-indent: 0em;
}
}
.center-par-b-space {
    margin-left: 0em;
    margin-bottom: 0em;
    text-align: center;
    margin-bottom: 0.75em;
    margin-right: 0em;
    text-indent: 0em;
}
.center-par-tb-extra-space {
    margin-left: 0em;
    text-align: center;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    margin-right: 0em;
    text-indent: 0em;
}
.center-par-t-extra-space {
    margin-left: 0em;
    text-align: center;
    margin-top: 1.25em;
    margin-right: 0em;
    text-indent: 0em;
}
.center-par-b-extra-space {
    margin-left: 0em;
    text-align: center;
    margin-bottom: 1.25em;
    margin-right: 0em;
    text-indent: 0em;
}
.no-indent {
    margin-left: 0em;
    margin-bottom: 0em;
    margin-top: 0.5em;
    margin-right: 0em;
    text-indent: 0em;
}
.introline {
    margin-left: 0em;
    margin-bottom: 0.5em;
    margin-top: 0em;
    margin-right: 0em;
    text-indent: 0em;
    font-style: italic;
}
.heading {
    font-weight: bold;
    font-size: 150%;
}
.par-indent {
    margin-left: 0em;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-right: 0em;
    text-indent: 2em;
}

div.fleuron {
    margin-left: 0em;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 0em;
    margin-left: 0em;
    text-indent: 0em;
}

div.fleuron img {
    width: 8%;
}

h1 + p.par-indent, h2 + p.par-indent, h3 + p.par-indent,
p.center-par-tb-space + p.par-indent,
p.introline + p.par-indent,
div.fleuron + p.par-indent,
p.center-par-tb-extra-space + p.par-indent{
    text-indent: 0;
}

p.texttop {
    text-indent: 0;
    margin: 1.5em 0 0 0;
}
span.dropcap {
    /*
    font-size: 275%;
    font-weight: bold;
    height: 1.0em;
    float: left;
    margin: -0.2em 0.1em 0 0.1em;
    */
    font-size: 1.5em;
    font-weight: bold;
}
p.clearit {
    clear: both;
}
.no-indent-tb-extra {
    margin-left: 0em;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    margin-right: 0em;
    text-indent: 0em;
}
.italic-par {
    font-style: italic;
}
.figure {
    text-align: center;
}
.caption {
    font-style: italic;
    font-size: 85%;

}
