{% extends "xhtml_skeleton.jinja" %}

{% block body %}

{% if heading is defined %}
    <h2 class="chapter-heading">{{ heading|e }}</h2>
{% endif %}
{% if subheading is defined %}
    <h3 class="chapter-sub-heading">{{ subheading|e }}</h3>
{% endif %}

{{ chapter_content }}

{% endblock %}


