{% extends "xhtml_skeleton.jinja" %}

{% block body %}

{% if heading is defined %}
    <h2 class="chapter-heading {{ hdgalign|default('center') }}">{{ heading|e }}</h2>
{% endif %}
{% if subheading is defined %}
    <h3 class="chapter-heading {{ subalign|default('center') }}">{{ subheading|e }}</h3>
{% endif %}

{% if pg_meta.beg_raw %}{{ pg_meta.beg_raw }}{% endif %}

{{ chapter_content }}

{% if pg_meta.end_raw %}{{ pg_meta.end_raw }}{% endif %}

{% endblock %}


