{% extends "xhtml_skeleton.jinja" %}
{% block body %}
<nav epub:type="toc">
<h1 class="toc-heading">{{ pg_meta.heading|default('Contents')|e }}</h1>
<ol>
{% set level = [] %}
{% for pg in pages recursive %}
    {% if level.append(1) %}{% endif %}
    <li class="toc-item-{{ level|length }}"><a href="{{ pg.id|e }}.xhtml">{{ pg.heading|e|indent((level|length - 1) * 4, true) }}</a> {{ pg.suffix|e }}
    {% if pg.children %}<ol>{{ loop(pg.children) }}</ol>{% endif %}
    {% if level.pop(0) %}{% endif %}</li>
{% endfor %}
</ol>
</nav>
{# see https://kdp.amazon.com/help?topicId=A140JEYVI0P8KQ for landmarks section #}
<nav epub:type="landmarks" class="hidden-tag" hidden="hidden">
    <ol class="none" epub:type="list">

    <li><a epub:type="toc" href="toc.xhtml">Table of Contents</a></li>
    <li><a epub:type="cover" href="html_cover.xhtml">Cover</a></li>
    <li><a epub:type="bodymatter" href="{{ start_id|default('title')|e }}.xhtml">Start reading</a></li>

    </ol>
</nav>

{% endblock %}
