{% extends "xhtml_skeleton.jinja" %}

{% block body %}

{% if pg_meta.heading %}<h2>{{ pg_meta.heading|e }}</h2>{% endif %}
{% if pg_meta.subheading %}<h3>{{ pg_meta.subheading|e }}</h3>{% endif %}

{% if pg_meta.beg_img %}<p class="center"><img src="{{ pg_meta.beg_img.url }}" alt="{{ pg_meta.beg_img.alt }}" /></p>{% endif %}

{% for p in pg_meta.pars %}
<p class="no-indent">{{ p|e }}</p>
{% endfor %}

{% if pg_meta.end_img %}<p class="center"><img src="{{ pg_meta.end_img.url }}" alt="{{ pg_meta.end_img.alt }}" /></p>{% endif %}

{% endblock %}


