{% extends "xhtml_skeleton.jinja" %}

{% block body %}

{% if pg_meta.heading %}<h2>{{ pg_meta.heading|e }}</h2>{% endif %}
{% if pg_meta.subheading %}<h3>{{ pg_meta.subheading|e }}</h3>{% endif %}

{% for p in pg_meta.pars %}
<p class="no-indent">{{ p|e }}</p>
{% endfor %}

{% endblock %}


