{% extends "xhtml_skeleton.jinja" %}
{% block body %}
<h1 class="toc-heading">{{ pg_meta.heading|default('Contents')|e }}</h1>

{% for pg in pages recursive %}
<p class="toc-item-{{ pg.level|default('1') }}"><a href="{{ pg.id|e }}.xhtml">{{ pg.heading|e|indent((pg.level|default(1) - 1) * 4, true) }}</a> {{ pg.suffix|e }}</p>
{% if pg.children %}{{ loop(pg.children) }}{% endif %}
{% endfor %}

{% endblock %}
