{% extends "xhtml_skeleton.jinja" %}
{% block body %}
<div class="center">
    <p class="title">{{ title|e }}</p>
    {% if subtitle is defined %}
        <p class="subtitle">{{ subtitle|e }}</p>
    {% endif %}
    {% if author is defined %}
        <p class="author">by {{ author|e }}</p>
    {% endif %}
    {%- if authorlist is defined %}
      <p class="author">
      {%- for aut in authorlist -%}
        {{ aut }}{% if not loop.last %}<br />{% endif %}
      {%- endfor -%}
      </p>
    {% endif %}
    {% if subplain is defined %}
        <p class="center-par">{{ subplain|e }}</p>
    {% endif %}
    {% if series is defined %}
        <p class="series">{{ series|e }}</p>
    {% endif %}
    {% if img is defined %}
        <p class="center-par"><img src="{{ img|e }}" alt="{{ title|e }}" /></p>
    {% endif %}
</div>
{% endblock %}
