{% extends "xhtml_skeleton.jinja" %}
{#----------------------------------------------------------------------------
List with different author's links to Amazon, social media, ...

Passed in variables:
    title_heading: str
        Used in xhtml_skeleton
    pg_meta: dict
        Will look for `pg_meta.heading` and use as page heading. Required for
        toc.
    pg_data: sequence
        List with the different authors to be listed. Each item is a dict with
        the following items:
            name: str
                Author's name
            href: str
                Optional. URL to be linked to the author name (file name in
                epub if to reference internally)
            suffix: str
                Optional. Text to be placed after author name, outside of link.
            links: sequence of dicts
                Will appear as bulleted list underparting statement. Each item
                consists of
                    - prefix (optional), placed before link (no separation)
                    - text
                    - url (optional), will be used to link text
                    - suffix (optional), placed after link text (no separation)
                None of these will be html excaped in order to allow formatting
                such as italics. Hence, you can also put te entire link content
                into the `text` item if you need moe flexibility.
----------------------------------------------------------------------------#}

{% block body %}

{% if pg_meta.heading %}<h2 class="chapter-heading">{{ pg_meta.heading|e }}</h2>{% endif %}
{% for author in pg_data %}
<h3>{% if author.href %}<a href="{{ author.href }}">{% endif %}{{ author.name|e }}{% if author.href %}</a>{% endif %}{% if author.suffix %}{{ author.suffix }}{% endif %}</h3>
<ul>
{% for link in author.links %}
    <li>{% if link.prefix %}{{ link.prefix }}{% endif %}{% if link.url %}<a href="{{ link.url }}">{% endif %}{{ link.text }}{% if link.url %}</a>{% endif %}{% if link.suffix %}{{ link.suffix }}{% endif %}</li>
{% endfor %}
</ul>
{% endfor %}

{% endblock %}
