{% extends "xhtml_skeleton.jinja" %}
{# ----------------------------------------------------------------------------
Defines the structure for book listings in front and/or backmatter, works with
or without images and with or without links to the titles for a single series
or multiple series.

Passed in variables:
    title_heading: str
        Used in xhtml_skeleton
    pg_meta: dict
        Will look for `pg_meta.heading` and use as page heading. Required for
        toc. If template is used for a single series only, use the series name
        as heading and leave the series name in `pg_data` blank.  May also
        contain `url` and `urltext` which, if specified, will be shown as
        "Visit <urltext>" with `urltext` linked to `url` at the bottom of the
        page.
    pg_data: sequence
        List with the different series to be listed. Each item is a dict with
        the following items:
            series: str
                Series name / title
            url: str
                Link to series landing page
            slogan: str
                Tag line to appear under series name / title
            img: str
                url of an image to be shown centered above the listing of the
                individual titles in the series.
            titlelist: sequence
                List with the individual titles to be listed. Each item is a
                dict with items `title`, `url`, `tclause`, `subtitle`, and
                `img` (all except for title are optional). `url` will be linked
                to `title`, followed by `tclause` if specified. `img` will
                precede `title` and also be linked to `url`. `subtitle` will
                follow on a separate line below `title`.
            addons: sequence
                Same as `titlelist`. Items will follow the ones in `titlelist`,
                separates by the text in `addonsep`.
            addonsep: str
                Text to precede add-ons
---------------------------------------------------------------------------- #}
{% block body %}
{% from 'macros.jinja' import title_list %}
<div class="center">
    {% if pg_meta.heading %}<h2 class="chapter-heading">{{ pg_meta.heading|e }}</h2>{% endif %}
    {% for series in pg_data if series.id == series_id %}
      {{ title_list(series) }}
    {% endfor %}
    {% if pg_meta.urltext %}
    <p class="center-par">&nbsp;</p>
    <p class="center-par-tb-space">visit {% if pg_meta.url %}<a href="{{ pg_meta.url }}">{% endif %}{{ pg_meta.urltext }}{% if pg_meta.url %}</a>{% endif %}</p>
    {% endif %}
</div>
{% endblock %}
