{% extends "xhtml_skeleton.jinja" %}

{% block body %}

<p class="center-par-tb-extra-space">{{ title|e }}</p>
{% if subtitle is defined %}<p class="subtitle">{{ subtitle|e }}</p>{% endif %}
<p class="center-par-tb-extra-space">{{ copyright|d('Copyright 2016') }}{% if author is defined %} by {{ author|e }} {% endif %}</p>
{% if authorweb is defined %}
    <p class="center-par-tb-extra-space">{{ autherweb|e }}</p>
{% endif %}
{% if authoremail is defined %}
    <p class="center-par-tb-extra-space">{{ authoremail|e }}</p>
{% endif %}
{% if authorlist is defined %}
<p class="center-par-tb-space">
{% for authorname in authorlist %}
   &copy; {{ authorname|e }}{% if not loop.last %}, {% endif %}
{% endfor %}
</p>
{% endif %}
{% if editor is defined %}
{% if editor.name is defined %}<p class="center-par-tb-extra-space">Editing by {{ editor.name|e }}
{% if editor.web is defined %}<br />{{ editor.web }}{% endif %}
</p>
{% endif %}
{% endif %}
<p class="center-par-tb-extra-space"></p>
{% if coverart is defined %}
{% if coverart.name is defined %}<p class="center-par-tb-extra-space">Cover art by {{ coverart.name|e }}
{% if coverart.web is defined %}<br />{{ coverart.web }}{% endif %}
</p>
{% endif %}
{% endif %}

<p class="center-par-tb-extra-space"></p>
<p class="center-par-tb-extra-space">This book or any portion thereof may not be reproduced or used in any manner without the express written permission of the author except for the use of brief quotations in articles or reviews.</p>
<p class="center-par-tb-space">This is a work of fiction. Any resemblance to actual persons is purely coincidental.</p>

{% if pg_meta.end_raw %}
{{ pg_meta.end_raw }}
{% endif %}

{% endblock %}
