{% extends "xhtml_skeleton.jinja" %}

{# pars, beg_raw and end_raw are not HTML escaped below - assumes that these are passed as valid HTML #}

{% block body %}

{% if pg_meta.fleuronimg is defined %}
    <div class="fleuron">
        <img src="{{ pg_meta.fleuronimg }}" alt="fleuron image" />
    </div>
{% endif %}

{% if pg_meta.heading %}<h2{% if pg_meta.centerheadings %} class="chapter-heading center"{% endif %}>{{ pg_meta.heading|e }}</h2>{% endif %}
{% if pg_meta.subheading %}<h3{% if pg_meta.centerheadings %} class="chapter-heading center"{% endif %}>{{ pg_meta.subheading|e }}</h3>{% endif %}

{% if pg_meta.beg_img %}<p class="center"><img src="{{ pg_meta.beg_img.url|e }}" alt="{{ pg_meta.beg_img.alt|e }}" /></p>{% endif %}

{% if pg_meta.beg_raw %}{{ pg_meta.beg_raw }}{% endif %}

{% for p in pg_meta.pars %}
<p class="no-indent">{{ p }}</p>
{% endfor %}

{% if pg_meta.end_raw %}{{ pg_meta.end_raw }}{% endif %}

{% if pg_meta.end_img %}<p class="center"><img src="{{ pg_meta.end_img.url|e }}" alt="{{ pg_meta.end_img.alt|e }}" /></p>{% endif %}

{% endblock %}


