<?xml version="1.0" encoding="utf-8" ?>
<package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="BookId">

  <!-- *** Metadata Section *** -->

  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">

    <dc:title>{{ title|e }}</dc:title>
    <dc:language>{{ language|default('en-us') }}</dc:language>
    <dc:identifier id="BookId" opf:scheme="uuid">urn:uuid:{{ uuid }}</dc:identifier>
    {% if author is defined %}
        <dc:creator opf:role="aut" opf:file-as="Last, First">{{ author|e }}</dc:creator>
    {% endif %}
    {% if authorlist is defined %}
        {% for aut in authorlist %}
            <dc:creator opf:role="aut" opf:file-as="Last, First">{{ aut|e }}</dc:creator>
        {% endfor %}
    {% endif %}
    <dc:publisher>{{ publisher|e }}</dc:publisher> <!--Name of Publisher or yourself if self-published-->
    <dc:date>{{ pubdate }}</dc:date> <!--Published Date in the format YYYY-MM-DD-->
    <meta name="cover" content="jpeg_cover-img" /> <!--Required for KindleGen, Barnes and Noble, and iBookstore-->
    <dc:description>{{ description|e }}</dc:description>
    {% if keywords is defined %}
        {% for kw in keywords %}
            <dc:subject>{{ kw|e }}</dc:subject>
        {% endfor %}
    {% endif %}
    <dc:rights>{{ rights|default('All rights reserved')|e }}</dc:rights>
    <dc:type>Text</dc:type>
    <dc:coverage>Worldwide</dc:coverage>
    {% if editor is defined %}
      {% if editor.name is defined %}
        <dc:contributor opf:file-as="Last, First" opf:role="edt">{{ editor.name|e }}</dc:contributor>
      {% endif %}
    {% endif %}
    {% if translator is defined %}
      <dc:contributor opf:file-as="Last, First" opf:role="trl">{{ translator|e }}</dc:contributor>
    {% endif %}
    {% if coverart is defined %}
      {% if coverart.name is defined %}
        <dc:contributor opf:file-as="Last, First" opf:role="art">{{ coverart.name|e }}</dc:contributor>
      {% endif %}
    {% endif %}

  </metadata>

  <!-- *** Manifest Section *** -->

  <manifest>

    <item href="toc.ncx" id="ncx" media-type="application/x-dtbncx+xml" />
    {% for pg in pages recursive %}
    <item href="{{ pg.id|e }}.xhtml" id="html_{{ pg.id|e }}" media-type="application/xhtml+xml" />
    {% if pg.children %}{{ loop(pg.children) }}{% endif %}
    {% endfor %}
    <item href="{{ css_file|default('css/stylesheet.css')|e }}" id="css-epub" media-type="text/css" />
    {% if images %}
    {% for img in images %}
    <item href="{{ img.href|e }}" id="{{ img.format|replace("+", "_") }}_{{ img.id|e }}" media-type="image/{{ img.format }}" />
    {% endfor %}
    {% endif %}

  </manifest>

  <!-- *** Spine Section *** -->

  <spine toc="ncx">

    {% for pg in pages recursive %}
    <itemref idref="html_{{ pg.id|e }}" linear="yes"/>
    {% if pg.children %}{{ loop(pg.children) }}{% endif %}
    {% endfor %}

  </spine>

  <!-- *** Guide Section *** -->

  <guide>

    <reference href="html_cover.xhtml" type="cover" title="Cover" /> <!-- Remove for Kindle -->
    <reference href="toc.xhtml" type="toc" title="Table of Contents" />
    <reference href="{{ start_id|default('toc')|e }}.xhtml" type="text" title="Beginning" />

  </guide>

</package>
