{% extends "xhtml_skeleton.jinja" %}
{% block body %}
    <p class="title center">{{ title|e }}</p>
    {% if subtitle is defined %}
        <p class="subtitle center">{{ subtitle|e }}</p>
    {% endif %}
    {% if author is defined %}
      {% if language is defined and language == "de" %}
        <p class="center">von</p>
      {% else %}
        <p class="center">by</p>
      {% endif %}
        <p class="author center">{{ author|e }}</p>
    {% endif %}
    {%- if authorlist is defined %}
        <p class="center">by</p>
        <p class="author center">
      {%- for aut in authorlist -%}
        {{ aut }}{% if not loop.last %}<br />{% endif %}
      {%- endfor -%}
      </p>
    {% endif %}
    {% if subplain is defined %}
        <p class="center-par">{{ subplain|e }}</p>
    {% endif %}
    {% if series is defined %}
        <p class="series center">{{ series|e }}</p>
    {% endif %}
    {% if img is defined %}
    <div class="title-page-img">
        <p class="center-par-tb-extra-space"><img class="title-pg-img" src="{{ img|e }}" alt="{{ title|e }}" /></p>
    </div>
    {% endif %}
{% endblock %}
