{# ---------------------------------------------------------------------
    Regular TOC without nav blocks

    If `max_depth` is defined as part of toc meta data only entries up
    to (and including) that depth will be printed.

    Individual pages can be ommitted from toc by specifying
    `no_toc: True` in the respective page's meta data.
 --------------------------------------------------------------------- #}

{% extends "xhtml_skeleton.jinja" %}
{% block body %}
<h1 class="toc-heading">{{ pg_meta.heading|default('Contents')|e }}</h1>

{% set level = [] %}
{% for pg in pages if not pg.no_toc recursive %}
    {% if level.append(1) %}{% endif %}
    {% if not pg_meta.max_depth or level|length <= pg_meta.max_depth %}
        <p class="toc-item-{{ level|length }}"><a href="{{ pg.id|e }}.xhtml">{{ pg.heading|e|indent((level|length - 1) * 4, true) }}</a> {{ pg.suffix|e }}</p>
        {% if pg.children %}{{ loop(pg.children) }}{% endif %}
    {% endif %}
    {% if level.pop(0) %}{% endif %}
{% endfor %}

{% endblock %}
